nav {
  	height: 100px;
}

#reviews-list li {
  width: 90%;
}

.inside #map-container {
  position: fixed;
  width: 50%;
  height: 100%;
}

#restaurant-container, #reviews-container {
  padding: 40px 40px 30px;
  width: 50%;
}